* {
  margin: 0%;
  padding: 0%;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 26, 0);
}

.main-container {
  display: flex;
  flex-direction: column;
  color: rgb(0, 255, 0);
  font-family: "Spline Sans", sans-serif;
  font-weight: 300;
  width: 55vh;
  padding: 2vh;
}

.input-box {
  height: 4vh;
  width: 40vh;
  background-color: rgb(0, 70, 0);
  border: 1px solid rgb(0, 255, 0);
  border-radius: 5px;
  font-size: 1.5vh;
  color: white;
  margin-bottom: 2vh;
  margin-right: 2vh;
}

.search-btn {
  height: 4vh;
  width: 10vh;
  background-color: transparent;
  border: 2px solid rgb(0, 255, 0);
  font-size: 2vh;
  color: rgb(0, 255, 0);
  border-radius: 5px;
  margin-bottom: 2vh;
}

.search-btn:hover {
  cursor: pointer;
  background-color: rgb(0, 255, 0);
  border: 2px solid rgb(255, 255, 255);
  color: white;
  transition: 0.5s;
}

.visible-false {
  visibility: hidden;
}

.visible-true {
  visibility: visible;
}
